@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1
{
    font-family: "Bebas Neue", sans-serif;
}

body 
{
     font-weight:200; 
     margin-top:50px;
}

#main-header
{
    border-bottom:2px solid#000; 
    text-shadow: 2px 2px 5px #000;
    width:100%;
    height:75px;
    position:fixed;
    background:white;
    opacity: 0.7;
    top:0%;
}
#top-stories
{
    width: 1000px;
    margin:auto;
    margin-top:20px;
    text-shadow: 2px 2px 5px #000;
}
article
{
    width: 301px;
    display: inline-block;
    border: 1px solid #000;
    padding: 10px;
    margin:2px;
    box-shadow: 5px 5px 5px 4px #000;
    margin-top:-25px;
}
article img
{
    width:100%;
    height: 100px;
}
.article-image
{
    width: 100%;
    height: 200px;
    background-size: cover !important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    display: block;
    border-radius:90px;
}
.bold-link
{
    font-style: italic;
    color:#f00;
    text-decoration:none;
}
p
{
    letter-spacing:2px;
    word-spacing: 2px;
    text-indent: 30px;
}
.bold-link:hover
{
    font-size: 30px;
    color: rgb(34, 2, 177);
}
.my-input
{
    width:95%;
    height:30px;
    padding: 2px 2px;
    margin:50px;;
    border-radius:30px;
}
.my-input:focus
{
    background:#000;
    color:rgb(255, 255, 255);
    outline: #161616;
}
article:active
{
    opacity: 0.5;
}
div.article-image1
{
    height: 238;
    width: 100%;
    background-size: cover !important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    display: block;
    border-radius:90px;
}